<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="SoT" type="ConsoleApplication.SoT, ConsoleApplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <SoT configSource=".\SoT.config"/>
  <!--<SoT xmlns="urn:ConsoleApplication">
		<component name="NazwaKompotu" path="C:\"/>
  </SoT>-->
</configuration>
