<div class="well" data-ng-controller="authCtrl">
    <div class="alert alert-info" data-ng-hide="authenticateError">
        Aby uwierzytelnic podaj nazwe uzytkownika i hasło,
        a następnie klikni przycisk zaloguj
    </div>
    <div class="alert alert-danger" data-ng-show="authenticateError">
        Uwierzytelnienie nie powiodło  sie {{ authenticateError.status }}
        Sprobuj ponownie.
    </div>
    <form name="authForm" novalidate>
        <div class="form-group">
            <label>Nazwa użytkownika:</label>
            <input name="username" class="form-control" data-ng-model="username" required/>
        </div>
        
        <div class="form-group">
            <label>Hasło:</label>
            <input name="password" class="form-control" data-ng-model="password" required/>
        </div>
        <div class="text-center">
            <button data-ng-click="authenticate(username, password)" 
                data-ng-disabled="authForm.$invalid" 
                class="btn btn-primary">Zaloguj</button>
        </div>
    </form>
</div>
